@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	/*font-family:arial;*/
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-size: 100% auto;
	background-color: #cccccc;
	font-size:14px;
	line-height:20px;
}
p {
	margin:0;
}
a {
	color:dodgerblue;
}
div {
    display: block;
}
a:hover p {
	text-decoration:underline;
}
.clearer {
	clear:both;
}
.boss-area {
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    background-color:rgba(0, 0, 0, 0.7);
    text-align: center;
}
.middle-area {
    margin: 10px 0;
}
.raid-area {
    /*width: 100%;*/
    width: 1072px;
    padding-left: 300px;
    margin: 0 auto;
}
.raid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid gray;
    background-color:rgba(0, 0, 0, 0.7);
    max-width:772px;
}
.raid { 
    float: left;
    margin-right:20px;
}
.timer-area {
    float: left;
    min-width: 250px;
}


