@charset "utf-8";
/* CSS Document */

div.boss1 {
    background-image: url(./img/snakes.jpg);
}
.boss1 .boss-area {
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid gray-dark;
    background-color:rgba(0, 0, 0, 0.5);
}