.tankRoleIcon, .healerRoleIcon, .dpsRoleIcon {
    height:20px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.raider {
    height: 75px;
    width: 150px;
    margin: 2px;
    float: left;
    background-color: red;
    position: relative;
}
.current_life_bar {
    background-color:#555555;
    height: 100%;
    width: 100%;
    float: left;
}
.incoming_heal {
    background-color:rgba(0, 255, 0, 0.7);
    height: 100%;
    width: 0%;
    float: left;
}
.current_life_text_wrapper {
    position: absolute;
    left: 50%;
}
.current_life_text {
    position: relative;
    left: -50%;
    font-size: 26px;
    top: 25px;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.dead {
    display: none;
    position: relative;
    left: -50%;
}
.dead_text {
    position: relative;
    font-size: 26px;
    top: 10px;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-image: url(../../../../img/skull.png);
}
.dead img {
    top: 15px;
    height: 35px;
    left: 15px;
    position: relative;
}
