.castbar {
    background-color: rgba(0, 0, 0, 0.7);
    max-width:772px;
    margin: 0 auto;
    border: 1px solid gray;
    position: relative;
    height: 40px;
}
.current_cast_bar {
    background-color: yellowgreen;
    width: 50%;
    height:100%;
    position: absolute;
}