.castbar {
    background-color: rgba(0, 0, 0, 0.7);
    max-width:772px;
    margin: 0 auto;
    border: 1px solid gray;
    position: relative;
    height: 40px;
}
.current_cast_bar {
    background-color: yellowgreen;
    width: 50%;
    height:100%;
    position: absolute;
}
.castbar {
    font-size: 26px;
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.cast_image {
    float: left;
    top:25%;
    position: relative;
}
.cast_name {
    float: left;
    top:25%;
    position: relative;
}
.cast_timer {
    float: right;
    top:25%;
    position: relative;
}